CallRecordingClient/Connected Services/ServiceReference/CallRecordingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallRecordingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallRecordingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CallRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOfCall" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallRecord" nillable="true" type="tns:CallRecord" />
  <xs:complexType name="ArrayOfCallRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallRecord" nillable="true" type="tns:CallRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallRecord" nillable="true" type="tns:ArrayOfCallRecord" />
</xs:schema>