CallRecordingClient/Connected Services/ServiceReference/CallRecordingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/CallRecordingService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallRecordingService" />
  <xs:element name="RecordCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallRecordingService" minOccurs="0" name="call" nillable="true" type="q1:CallRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCalls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallRecordingService" minOccurs="0" name="GetAllCallsResult" nillable="true" type="q2:ArrayOfCallRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CallRecordingService" minOccurs="0" name="GetCallByIdResult" nillable="true" type="q3:CallRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="additionalDetails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCallsToFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCallsToFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCallsFromFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCallsFromFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCallsByCustomerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCallsByCustomerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CallRecordingService" minOccurs="0" name="SearchCallsByCustomerNameResult" nillable="true" type="q4:ArrayOfCallRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>